body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
    color: white;
   
}



main{
    display: flex;
    height: 100vh;
}


.side_bar{
    background-color: black;
    width: 280px;
    
}


.main_content
{
    overflow: auto;
    background-color: blue;
    flex: 1;
    overflow: auto;
}


.music_player
{
    background-color: yellow;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}

.side_bar_nav
{
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    border-radius: 1rem;
    padding-left: 0.8rem;
    margin: 0.5rem 0.75rem;
    line-height: 2.6rem;
}
.side_bar_nav_option{
    opacity: 0.6;
    transition: 0.3s ease-in-out;
}
.side_bar_nav_option:hover{
    opacity: 1;
}
.side_bar_nav i{
    font-size: 1.25rem;
}
.side_bar_nav a{
    font-size: 1rem;
}

.side_bar .side_bar_nav a,i
{
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 1.1rem;
    
}
.side_bar_library{
}
    
.create_library
{
    padding-left: 1.1rem;
    margin: 0.5rem 0.75rem;
    background-color: #3b3b3b;
    border-radius: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 1.2rem;

}
#subtitle{
    font-weight:500;
    font-size: 14px;
    padding-bottom: 20px;
}
#heading{
    font-size: 18px;
    font-weight: bold;
    
}
.side_bar_library .create_library a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.7rem;
    background-color: white;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;
}
.side_bar_library .create_library a:hover{
    background-color: rgb(228, 228, 228);
    
}
.podcasts
{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    margin: 0.5rem 0.75rem;
    background-color: #3b3b3b;
    border-radius: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 1.2rem;
}
.side_bar_library .podcasts a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.7rem;
    background-color: white;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;
}
.side_bar_library .podcasts a:hover{
    background-color: rgb(228, 228, 228);
    
}